.overview{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.header{
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.addButtons{
  display: flex;
  justify-content: space-between;
}

.button{
  background: #656565;
  color: white;
  width: 49.5%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button p{
  margin: 0;
  padding: 7.5px 0 0;
}

.labels{
  display: flex;
  align-items: center;
}

.labels p:nth-child(1){
  width: 55px;
}

.labels p:nth-child(2){
  flex: 1;
}
