.overview{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.header{
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.addButtons{
  display: flex;
  justify-content: space-between;
}

.labels{
  display: flex;
  align-items: center;
}

.labels p{
  font-weight: 700;
}

.labels p:nth-child(1){
  width: 55px;
}

.labels p:nth-child(2){
  flex: 1;
}

.buttonWrap{
  display: flex;
}

.headWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oh2 {
  text-transform: uppercase;
  font-weight: 700;
}