.overview {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.header {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.addButtons {
  display: flex;
  justify-content: space-between;
}

.labels {
  align-items: center;
  display: flex;
}

.labels p {
  font-weight: 700;
  margin: 0;
}

.labels p:nth-child(1) {
  width: 55px;
}

.labels p:nth-child(2) {
  width: 30%;
}

.labels p:nth-child(3) {
  width: 20%;
}

.labels p:nth-child(4) {
  width: calc(50% - 55px);
  text-align: right;
}

.buttonWrap {
  display: flex;
}

.headWrap {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.oh2 {
  font-weight: 700;
  text-transform: uppercase;
}
