.imgWrap {
  border: 1px solid var(--main-color);
  display: inline-block;
  height: calc(50vw - 30px);
  position: relative;
  width: calc(50vw - 30px);

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.media {
  display: flex;
  flex-direction: column;
}

.dataWrap {
  padding: 16px;
}

.mediaWrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.label {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
}

.rowDesc {
  background: var(--main-bg-color);
  flex-direction: column;
}

.mediaRow {
  border: 1px solid var(--main-color);
  padding: 10px;
}

.removeButton {
  background: var(--main-color);
  border: 0;
  color: var(--main-bg-color);
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 25px;
  outline: 0;
  padding: 15px 10px;
  text-transform: uppercase;
  width: calc(100% - 50px);
}
