.imgWrap {
  display: inline-block;
  height: calc(50vw - 17px);
  position: relative;
  width: calc(50vw - 17px);

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.media {
  display: flex;
  flex-direction: column;
}

.dataWrap {
  padding: 16px;
}

.mediaWrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.label {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
}

.labelMedia {
  padding: 10px;
}

.row {
  background: var(--main-light-color);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.row:nth-of-type(even) {
  background: var(--main-bg-color);
}

.value {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 400;
  width: 50%;
}

.valueEdited {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.rowDesc {
  background: var(--main-bg-color);
  flex-direction: column;
}
