.filterButton {
  background: transparent;
  border: 0;
  height: 28px;
  margin: 20px 0 10px;
  outline: 0;
  padding: 0;
}

.visiblebutton {
  border: 1px solid var(--main-color);
  display: inline-block;
  padding: 5px 10px;

  p {
    color: var(--main-color);
    margin: 0;
    padding: 0;
  }
}

.active {
  background: var(--main-color);

  p {
    color: var(--main-bg-color);
  }
}
