.filterButton {
  background: transparent;
  border: 0;
  height: 55px;
  outline: 0;
  padding: 0;
}

.visiblebutton {
  border: 1px solid var(--main-color);
  display: inline-block;
  padding: 5px 10px;
}

.visiblebutton p {
  margin: 0;
  padding: 0;
}