.filterButton {
  height: 55px;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
}

.visiblebutton{
  border: 1px solid var(--main-color);
  display: inline-block;
  padding: 5px 10px;
}

.visiblebutton p {
  margin: 0;
  padding: 0;
}