.linkDiv{
  display: flex;
  justify-content: flex-end;
}
.linkRequest {
  background: var(--main-color);
  border: 0;
  border-radius: 0;
  color: var(--main-bg-color);
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0;
  outline: 0;
  padding: 10px;
  text-transform: uppercase;
}
