.linkRequest {
  background: none;
  border: 1px solid var(--main-color);
  border-radius: 0;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
  outline: 0;
  padding: 10px;
  text-transform: uppercase;
}
