.button {
  align-items: center;
  background: #656565;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  text-decoration: none;
  width: 49.5%;

  p {
    margin: 0;
    padding: 7.5px 0 0;
  }
}
