.button{
  background: #656565;
  color: white;
  width: 49.5%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button p{
  margin: 0;
  padding: 7.5px 0 0;
}