.inputGroup {
  display: inline-flex;
  flex-direction: column;
  width: 49.5%;

  label {
    color: var(--main-blue);
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
}

.inputField {
  background: var(--input-color);
  border: 0;
  border-radius: 0;
  font-size: 15px;
  margin-top: 5px;
  padding: 10px 5px;
}

.fullWidth {
  width: 100%;
}
