.itemLinkWrap {
  align-items: center;
  background-color: var(--main-bg-color);
  border: .5px solid var(--main-color);
  display: flex;
  height: 50px;
  margin: 2.5px 0;
  padding: 5px 0;
  position: relative;
}

.icon {
  display: inline-block;
  opacity: .6;
  padding: 0 25px 0 10px;
}

.date {
  display: inline-block;
  width: 30%;
}

.uploaded {
  display: inline-block;
  width: 20px;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

.edit {
  flex: 1;
  width: 20%;
}

.uploadStat {
  padding: 0 7.5px;
}
