.remove {
  background: none;
  border: 0;
  border-radius: 0;
  color: var(--main-color);
  float: right;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  outline: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
}
