.header {
  --header-background: #fafafa;
  background: var(--header-background);
  display: block;
  height: 100%;
  left: 0;
  position: relative;
  right: 0;
  width: 100%;

  .nav {
    align-items: center;
    display: flex;
    height: 70px;
    position: relative;
    width: 100%;

    h1 {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    .backArrow {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      left: 5px;
      position: absolute;
      top: 10px;
      width: 50px;
    }

    .account {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      position: absolute;
      right: 5px;
      top: 10px;
      width: 50px;
    }
  }
}