.header {
  --header-background: #fafafa;
  background: var(--header-background);
  border-bottom: 1px solid var(--main-color);
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0 16px;
  position: relative;
  right: 0;
  width: 100%;

  .nav {
    align-items: center;
    display: flex;
    height: 70px;
    position: relative;
    width: 100%;

    h1 {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: flex-start;
      margin: 0;
      position: relative;
      text-align: left;
      text-transform: uppercase;
    }

    .backArrow {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      position: relative;
      margin-left: -16px;
      width: 50px;
    }
  }
}
