@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');

:root {
  --main-purple: #cc3399;
  --main-bg-color: #f2f2f2;
  --main-blue: #009ba4;
  --main-color: #666666;
  --medium-gray: #999999;
  --main-light-color: #e2e2e2;
  --input-color: #ffffff;
}

html,
body {
  background: var(--main-bg-color);
  color: var(--main-color);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  padding-bottom: 60px;
}
