@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');

:root {
  --main-bg-color: #fafafa;
  --main-color: #656565;
  --main-light-color: #E7E7E7;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
