.container {
  align-items: center;
  background-color: #fff;
  flex: 1;
  justify-content: center;
}

p {margin: 0;}

.main {
  flex: 0;
  padding: 10px;
  width: 100%;
}

.row {
  background: #fafafa;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.row:nth-of-type(even) {
  background: #e7e7e7;
}

.value {
  color: #333;
  font-weight: 300;
  font-size: 15px;
  width: 50%; 
}

label {
  color: #555;
  font-weight: 900;
  font-size: 16px;
  
}

p {
  margin: 0;
}