.container {
  align-items: center;
  background-color: var(--main-bg-color);
  flex: 1;
  justify-content: center;
}

p {margin: 0;}

.main {
  flex: 0;
  padding: 10px;
  width: 100%;
}

.row {
  background: var(--main-light-color);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.row:nth-of-type(even) {
  background: var(--main-bg-color);
}

.value {
  color: var(--main-color);
  font-weight: 300;
  font-size: 15px;
  width: 50%;
}

.removeButton {
  background: var(--main-color);
  border: 0;
  color: var(--main-bg-color);
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 25px;
  outline: 0;
  padding: 15px 10px;
  text-transform: uppercase;
  width: calc(100% - 50px);
}

.map {
  margin-bottom: 5px;
}
