.location {
  // border: 1px solid var(--main-color);
  border: 0;
  padding: 10px;

  p {
    color: var(--main-color);
    font-weight: 700;
  }
}

.map {
  // border: 1px solid var(--main-color);
  border: 0;
  margin-bottom: 5px;
}

.label {
  color: var(--main-blue);
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
}
