.login {
  align-items: center;
  background: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.loginForm {
  padding: 10px 16px;

  > div {

    label {
      color: var(--input-color);
    }
  }
}

.loginSub {
  background: var(--input-color);
  // border: 1px solid var(--main-color);
  border: 0;
  color: var(--main-blue);
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin: 7.5px 0;
  outline: 0;
  padding: 10px 17px;
  // text-transform: uppercase;
}

.forgot {
  color: var(--input-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.formButtons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.logo {
  margin-top: 20px;
  width: 60%;
}

.devider {
  color: var(--main-bg-color);
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.createAccount {
  color: var(--main-bg-color);
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: auto;
  margin-top: auto;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
